body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background: #ffffff;
}

.headercima{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px 12px 30px;
    position: relative;
    z-index: 1000;
}

.acoes-header{
    margin-right: 50px;
}

.logo{
    color: rgb(1, 26, 249);
    font-size: 24px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo a{
    color: rgb(10, 255, 255);
    text-decoration: none;
}

.logo a:hover{
    color: #0cac9e;
    transition: 0.3s;

}
.barrapesquisa{
    display: flex;
    flex:1;
    max-width: 30px;
    margin: 0 20px;
}

.barrapesquisa input {
    flex: 1;
    padding: 8px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.pesquisa{
    padding: 8px 12px;
    background: rgb(6, 204, 204);
    color: rgb(255, 255, 255);
    font-style: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.acoes-header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 50px;
}

.iconheader{
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

.menu-container{
    position: relative;
}

.menudropdown{
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background:#282224;
  border-radius: 8px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.menudropdown.show{
    display:flex;
}

.botaomenu{
  padding: 8px 12px;
  background-color: #1eff00;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.extras {
  display: flex;
  gap: 140px;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.extras a{
  color: rgb(10, 255, 255);     
  text-decoration: none;
}

.extras a:hover{
  color: #0cac9e;
  transition: 0.3s;
}
/* fim do header*/

html, body {
  margin: 0;
  padding: 0;    
  width: 100%;
  height: 100%;
  overflow-x: hidden;  
}

.fotos {
  width: 100vw;        
  height: 100vh;      
}

.fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;      
}

/* grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;                          
  max-width: 900px;
  width: 90%;
  margin: 50px auto;
}

.grid img {
  width: 100%;          
  height: 300px;      
  object-fit: cover;  
  border-radius: 8px;
  display: block;
  transition: transform 0.3s ease;
}

.grid img:hover {
  transform: scale(1.05);
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.fotos.kenburns {
  animation: kenburns-top 10s ease-in-out infinite alternate;
}

/* footer*/
.footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  font-size: 0.9rem;
  color: #888;
}

