<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Resultados da Busca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <header class="headercima">
            <div class="logo"><a href="{{ url_for('index') }}">NERDSHOP</a></div>

            <div class="extras">
                <a href="{{ url_for('pc') }}" class="espcs">PC</a>
                <a href="perifericos.html" class="espcs">Periféricos</a>
                <a href="console.html" class="espcs">Console</a>
                <a href="suporte.html" class="espcs">Suporte</a>
                <a href="{{ url_for('cadastro') }}" class="espcs">Cadastrar Produtos</a>
            </div>

           <div class="barrapesquisa">
                <form action="{{ url_for('buscar') }}" method="GET" class="barrapesquisa">
                    <input type="text" name="query" placeholder="BUSCAR">
                    <button type="submit" class="pesquisa">OK</button>
                </form>
            </div>

            <div class="acoes-header">
                <a href="{{ url_for('ver_carrinho') }}" 
                style="text-decoration:none; cursor:pointer; font-size:16px; padding:6px 10px; background-color:#222; color:white; border-radius:6px;">
                    🛒 Carrinho
                </a>

                <div class="menu-container">
                    <img src="{{ url_for('static', filename='src/2.png') }}" alt="menu" class="iconheader" onclick="toggleMenu()">
                    <div class="menudropdown" id="menudropdown">
                        <a href="{{ url_for('cadastro_usuario') }}" class="botaomenu">Cadastro</a>
                        <a href="{{ url_for('login_usuario') }}" class="botaomenu">Login</a> 
                    </div>
                </div>
            </div>
        </header>

<h2>Resultados para "{{ termo }}"</h2>

<div class="produtos-container">
    {% if produtos %}
        {% for produto in produtos %}
            <div class="produto-card">
                <a href="{{ url_for('produto_detalhe', produto_id=produto[6]) }}">
                    <img src="{{ produto[5] }}" alt="{{ produto[0] }}">
                    <h3>{{ produto[0] }}</h3>
                    <p>{{ produto[1] }}</p>
                    <strong>R$ {{ produto[2] }}</strong>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum produto encontrado.</p>
    {% endif %}
</div>

</body>
</html>
