<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Registre-se</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
  <link rel="stylesheet" href="../static/bbb.css">
</head>
<body>
  <div class="wrapper">
    <div class="login_box">
      <div class="login-header">
        <span>Cadastro</span>
      </div>
      <!-- Formulário -->
      <form>
        <div class="input_box">
          <input type="text" id="user" class="input-field" required>
          <label for="user" class="label">Nome</label>
          <i class="bx bx-user icon"></i>
        </div>

        <div class="input_box">
          <input type="email" id="email" class="input-field" required>
          <label for="email" class="label">E-mail</label>
          <i class="bx bx-envelope icon"></i>
        </div>

        <div class="input_box">
          <input type="text" id="cpf" class="input-field" required>
          <label for="cpf" class="label">CPF ou CNPJ</label><!--O USUÁRIO PODE ADCIONAR PONTOS E TRAÇOS-->>
          <i class="bx bx-id-card icon"></i>
        </div>

        <div class="input_box">
          <input type="date" id="dob" class="input-field" required>
          <label for="dob" class="label">Aniversário</label>
          <i class="bx bx-calendar icon"></i>
        </div>

        <div class="input_box">
          <input type="password" id="pass" class="input-field" required>
          <label for="pass" class="label">Senha</label>
          <i class="bx bx-lock-alt icon"></i>
        </div>

        <div class="Termos">
          <input type="checkbox" id="Termos" required>
          <label for="Termos">Aceito os termos de uso</label>
        </div>

        <div class="input_box">
          <input type="button" class="input-submit" value="Salvar" onclick="cadastroUsuario()"/>
        </div>
      </form> 
    </div>
  </div>

  
</body>
</html>